body{
	margin: 0px;
	padding: 0px;


}
nav{

	text-align: center;
	margin-top: 0px;
}
nav ul{
	text-align: center;
}

nav ul li{
	display: inline-block;
	list-style: none;

}
nav ul li a{
	text-decoration: none;
	color: black;


}
	

nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	display: inline-block;
	margin: 7px -2px;
}

a{
	text-decoration: none;
	color: black;
	font-family: calibri;
	padding: 5px 10px;
}

li:nth-last-of-type(1) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(2) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(3) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(4) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(5) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(6) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

div.background
{
 position: relative;

}
#fondo{
 position: relative;
}
.sobre {
 position:absolute;
 top:270px;
 left:540px;
 border:none;
}

p{
	font-family: calibri;
	font-weight: bold;
	text-align: center;
	font-size: 13px;

}
.sobre2 {
 position:absolute;
 top:197px;
 left:100px;
 border:none;
}
.sobre3 {
 position:absolute;
 top:197px;
 right: 100px;
 border:none;
}