body{
	margin: 0px;
	padding: 0px;
}
div.background
{
 position: relative;
}
.logo{
	padding-left: 18px;
	padding-top: 10px;
}
nav{
	text-align: center;
	margin-top: 0px;
}
nav ul{
	text-align: center;
}

nav ul li{
	display: inline-block;
	list-style: none;

}
nav ul li a{
	text-decoration: none;
	color: black;
}
	

nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	display: inline-block;
	margin: 7px -2px;
}

a{
	text-decoration: none;
	color: black;
	font-family: calibri;
	padding: 5px 10px;
}

li:nth-last-of-type(1) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(2) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(3) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(4) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(5) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(6) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(7) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

.linea1{
	position: absolute;
	top:390px;
	left: 190px;
}

.sobre {
 position:absolute;
 top:373px;
 left:600px;
 border:none;
 font-weight: bold;
 font-size: 45px;
}

.down{
	position: relative;
	font-family: calibri;
	font-weight: bold;
	font-size: 13px;
	top:12px;
	text-align: center;
	background-color: #7B7B7B;
	margin: 0px;
	padding: 0px;
}
.color1{
	color:#7B7B7B;
}

.serv3{
	position:absolute;
	left: 200px;
	padding-top: 15px;
}
.serv4{
	position:absolute;
	left: 200px;
	padding-top: 390px;
}


 .costado{
     position:absolute;
	left: 100px;
	padding-top: 33px;
}
div.text1 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 left:250px;
 padding-right: 800px;
 border:none;
 font-size: 16px;
}
div.text2 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 left:790px;
 padding-right: 250px;
 border:none;
 font-size: 16px;
}
div.text3 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 left:1050px;
 padding-top:155px;
 padding-right: 250px;
 border:none;
 font-size: 16px;
}

div.text7{
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 left:800px;
 padding-top:0px;
 padding-right: 250px;
 border:none;
 font-size: 16px;
}
div.text12{
  position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 padding-top: 230px;
 left:800px;
 padding-right: 250px;
 border:none;
 font-size: 16px;
}

div.text9 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 padding-top: 70px;
 left:450px;
 padding-right: 450px;
 border:none;
 font-size: 16px;
}
div.text10 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 padding-top: 193px;
 left:795px;
 padding-right: 450px;
 border:none;
 font-size: 16px;
}
div.text11 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 padding-top: 210px;
 left:550px;
 padding-right: 450px;
 border:none;
 font-size: 16px;
}

