body{
	margin: 0px;
	padding: 0px;
}

div.background
{
 position: relative;
 

}

.logo{
	padding-left: 18px;
	padding-top: 10px;
}
nav{
	text-align: center;
	margin-top: 0px;
}
nav ul{
	text-align: center;
}

nav ul li{
	display: inline-block;
	list-style: none;

}
nav ul li a{
	text-decoration: none;
	color: black;
}
	

nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	display: inline-block;
	margin: 7px -2px;
}

a{
	text-decoration: none;
	color: black;
	font-family: calibri;
	padding: 5px 10px;
}

li:nth-last-of-type(1) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(2) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(3) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(4) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(5) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(6) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(7) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

.down{
	position: relative;
	font-family: calibri;
	font-weight: bold;
	font-size: 13px;
	top:11px;
	text-align: center;
	background-color: #7B7B7B;
	margin: 0px;
	padding: 0px;
}

.color1{
	color:#7B7B7B;
}

.linea1{
	position: absolute;
	top:390px;
	left: 190px;
}

.sobre {
 position:absolute;
 top:373px;
 left:650px;
 border:none;
 font-weight: bold;
 font-size: 45px;
}
.boss{
	position: absolute;
	top: 900px;
	padding-left: 250px;
}


div.text1 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top:938px;
 left:630px;
 padding-right: 250px;
 border:none;
 font-size: 17px;
}

.pers1{
    position: absolute;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:1655px;
    left:300px;
}
.pers2{
    position: absolute;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:1900px;
    right: 300px;
}
.pers3{
    position: absolute;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:2150px;
    left:300px;
}
div.text2 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 1655px;
 left:550px;
 padding-right: 300px;
 border:none;
 font-size: 15px;
}
div.text3 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 1895px;
 left:300px;
 padding-right: 537px;
 border:none;
 font-size: 15px;
}
div.text4 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top:2157px;
 left:550px;
 padding-right: 300px;
 border:none;
 font-size: 15px;
}

.AD{
	position:absolute;
	right: 100px;
	padding-top: 570px;

}
.CC{
	position:absolute;
	left: 100px;
}


div.text5 {
 position:absolute;
 text-align: left;
 font-family: calibri;
 font-weight: bold;
 padding-top:670px;
 left:250px;
 padding-right: 800px;
 border:none;
 font-size: 15px;
}
div.text6 {
 position:absolute;
 text-align: right;
 font-family: calibri;
 font-weight: bold;
 padding-top:80px;
 left:900px;
 padding-right: 100px;
 border:none;
 font-size: 15px;
}
