body{
	margin: 0px;
	padding: 0px;
}
div.background
{
 position: relative;
}
.logo{
	padding-left: 18px;
	padding-top: 10px;
}
nav{
	text-align: center;
	margin-top: 0px;
}
nav ul{
	text-align: center;
}

nav ul li{
	display: inline-block;
	list-style: none;

}
nav ul li a{
	text-decoration: none;
	color: black;
}
	

nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	display: inline-block;
	margin: 7px -2px;
}

a{
	text-decoration: none;
	color: black;
	font-family: calibri;
	padding: 5px 10px;
}

li:nth-last-of-type(1) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(2) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(3) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(4) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(5) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(6) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(7) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
.down{
	position: relative;
	font-family: calibri;
	font-weight: bold;
	font-size: 13px;
	top:380px;
	text-align: center;
	background-color: #7B7B7B;
	margin: 0px;
	padding: 0px;
}
.color1{
	color:#7B7B7B;
}
.linea1{
	position: absolute;
	top:390px;
	left: 190px;
}

.sobre {
 position:absolute;
 top:373px;
 left:610px;
 border:none;
 font-weight: bold;
 font-size: 45px;
}
div.info1 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top:160px;
 left:400px;
 padding-right: 250px;
 border:none;
 font-size: 17px;
}
div.info3 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top:470px;
 right: 400px;

 border:none;
 font-size: 17px;
}
