body{
	margin: 0px;
	padding: 0px;
}

div.background
{
 position: relative;
}
.logo{
	padding-left: 18px;
	padding-top: 10px;
}
nav{
	text-align: center;
	margin-top: 0px;
}
nav ul{
	text-align: center;
}

nav ul li{
	display: inline-block;
	list-style: none;

}
nav ul li a{
	text-decoration: none;
	color: black;
}
	

nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	display: inline-block;
	margin: 7px -2px;
}

a{
	text-decoration: none;
	color: black;
	font-family: calibri;
	padding: 5px 10px;
}

li:nth-last-of-type(1) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(2) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(3) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(4) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

li:nth-last-of-type(5) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(6) a:hover{
	border-bottom: 3px solid #9C9C9C;
}
li:nth-last-of-type(7) a:hover{
	border-bottom: 3px solid #9C9C9C;
}

.color1{
	color:#7B7B7B;
}

.linea1{
	position: absolute;
	top:390px;
	left: 190px;
}

.sobre {
 position:absolute;
 top:373px;
 left:610px;
 border:none;
 font-weight: bold;
 font-size: 45px;
}


.down{
	position: relative;
	font-family: calibri;
	font-weight: bold;
	font-size: 13px;
	top:11px;
	text-align: center;
	background-color: #7B7B7B;
	margin: 0px;
	padding: 0px;
}
div.text1{
	font-family: calibri;
	font-weight: bold;
	text-align: justify;
	font-size: 17px;
	padding-left: 400px;
	padding-right: 400px;
}

.test1{
    position: relative;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:100px;
    left:300px;
}
div.text2 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 1175px;
 left:550px;
 padding-right: 300px;
 border:none;
 font-size: 15px;
}
.test2{
    position: relative;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:335px;
    left:800px;
}
div.text3 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 1410px;
 left:300px;
 padding-right: 570px;
 border:none;
 font-size: 15px;
}
.test3{
    position: relative;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:40px;
    left: 290px;
}
div.text4 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 1165px;
 left:550px;
 padding-right: 300px;
 border:none;
 font-size: 15px;
}
.test4{
     position: relative;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:300px;
    left:805px;
}
div.text5 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 1950px;
 left:300px;
 padding-right: 570px;
 border:none;
 font-size: 15px;
}
.test5{
    position: relative;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:300px;
    left: 800px;
}
div.text6 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 2185px;
 left:550px;
 padding-right: 300px;
 border:none;
 font-size: 15px;
}
.test6{
   position: relative;
	width: 200px;
    height: 200px;
    border-radius: 100px;
    top:35px;
    left:280px;
}

div.text7 {
 position:absolute;
 text-align: justify;
 font-family: calibri;
 font-weight: bold;
 top: 2440px;
 left:300px;
 padding-right: 570px;
 border:none;
 font-size: 15px;
}